@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&display=swap');

body {
	font-family: 'Josefin Sans', sans-serif;
    line-height: 1.4;
}

* {
    margin: 0;
    padding: 0;
    min-width: 0;
    min-height: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #070707;
    text-decoration: none;
    display: block;
}

a:visited {
    color: inherit;
}

.socialIcon {
    height: 22px;
    width: 22px;
}

.inner {
    padding: 0 10%;
}

svg {
    width: 100%;
    height: 100%;
}

/* header */

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.header-item {
    font-size: 16px;
    display: flex;
    padding: 0 5%;
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 3px 3px 30px 1px rgba(0, 0, 0, 0.2);
}

.header-item h1 {
    height: 80px;
    padding-top: 8px;
}

.mainLogo {
    height: 64px;
    width: 100%;
}

.nav-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 64px;
    grid-gap: 10px;
    text-align: center;
}

#nav_toggle {
    display: none;
}

.socialIconList {
    display: flex;
    justify-content: space-around;
}

@media (max-width:480px) {
    .nav-list {
        display: block;
    }
   
   .nav-list li {
   width: 100%;
   font-size: 8vw;
   padding: 0 0 20px;
   }
   
   .lang img{
       height: 8vw;
   }
   
   .nav-list li a {
   display: block;
   }

   nav {
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    }

    #menu {
        background: #fff;
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        right: 0;
        z-index: 2;
        -webkit-transition: opacity .2s cubic-bezier(.25,.46,.45,.94),visibility .2s cubic-bezier(.25,.46,.45,.94);
        transition: opacity .2s cubic-bezier(.25,.46,.45,.94),visibility .2s cubic-bezier(.25,.46,.45,.94);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
   
   #nav_toggle {
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 100;
   }

   #nav_toggle div {
        position: relative;
   }

   #nav_toggle span{
        display: block;
        height: 3px;
        background: #4D4D4D;
        position:absolute;
        width: 100%;
        left: 0;
        -webkit-transition: 0.1s ease-in-out;
        -moz-transition: 0.1s ease-in-out;
        transition: 0.1s ease-in-out;
   }

   #nav_toggle span:nth-child(1){
        top:0px;
   }
   
   #nav_toggle span:nth-child(2){
        top:10px;
   }

   #nav_toggle span:nth-child(3){
        top:20px;
   }
   
   #nav_toggle.active span:first-child {
       -webkit-transform: translateY(10px) rotate(45deg);
       -moz-transform: translateY(10px) rotate(45deg);
       -ms-transform: translateY(10px) rotate(45deg);
       transform: translateY(10px) rotate(45deg);
   }

   #nav_toggle.active span:nth-child(2) {
       opacity: 0;
   }

   #nav_toggle.active span:last-child {
       -webkit-transform: translateY(-10px) rotate(-45deg);
       -moz-transform: translateY(-10px) rotate(-45deg);
       -ms-transform: translateY(-10px) rotate(-45deg);
       transform: translateY(-10px) rotate(-45deg);
   }
   
   .socialIconList {
       padding-top: 20px;
   }
   
}

/* header */

main {
    padding-top: 80px;
}

.hero {
    position: relative;
}

.heroText {
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center;
    color: #fff;
}

.heroImg img {
    width: 100%;
}

.heroSvg {
    bottom: -23%;
    position: absolute;
    width: 100%;
}

.heroSvg img {
    width: 100%;
}

.intro {
    padding-top: 15%;
    position: relative;
}

.intro .inner:first-child {
    padding-bottom: 8vw;
}

.introText {
    font-weight: 100;
    font-size: 1.8vw;
    color: #727171;
}

.introImg {
    width: 100%;
}

.introImg img {
    width: 100%;
}

.introText2 {
    position: absolute;
    bottom: 2%;
}

.groupSvg {
    padding: 128px 0;
}

@media (max-width:480px) {

    .inner {
        padding: 0 5%;
    }

    .heroText h1 {
       font-size: 18px;
    }

    .introText {
        font-size: 16px;
    }

    .introText br {
        display: none;
    }

    .introText2 {
        bottom: -16%;
    }

    .socialIcon {
        height: 44px;
        width: 44px;
    }

}

/* footer */
footer {
    background: #4179BE;
    color: #fff;
}

footer .inner {
    padding: 0 5%;
}

.footerListItem {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.footerItem:first-child {
    padding-right: 64px;
}

.footerItem:nth-child(2) {
    padding-top: 64px;
}

.footerLogo {
    border-bottom: 1px solid #fff;
}

.footerItemBox {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.footerItemBox ul {
    display: flex;
    justify-content: flex-end;
    padding-top: 8px;
    align-items: center;
}

.footerItemBox ul li a {
    color: #fff;
}

.footerItemBox ul:first-child li {
    padding-left: 32px;
}

.footerItemBox ul:nth-child(2) li {
    padding-right: 8px;
}

.logo {
    padding: 64px 0 0 40px;
    line-height: 64px;
}

.footerAddress {
    padding: 5%;
}

.copyright {
    padding: 16px 0;
    text-align: center;
}

@media (max-width:1080px) {

    .footerListItem {
        display: block;
    }

    .footerItem:first-child {
        padding-right: 0;
    }

    .footerItem:nth-child(2) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 64px;
    }

}

@media (max-width:480px) {

    .footerItemBox {
        display: block;
    }
    
    .footerItemBox ul:first-child {
        display: block;
        justify-content: center;
        padding-top: 8px;
    }

    .footerItemBox ul:first-child {
        display: block;
        text-align: center;
    }
    
    .footerItemBox ul:nth-child(2) {
        justify-content: center;
    }
    
    .footerItemBox ul:first-child  li {
        padding: 8px 0;
    }

    .footerItem:nth-child(2) {
        display: block;
        padding: 32px 0;
    }

}

/* footer */

/* about */

.pageTitleAb {
    position: absolute;
    padding-left: 7%;
    font-size: 48px;
}

.details {
    position: relative;
    padding: 128px 0;
}

.aboutText, .frontiveText {
    padding-bottom: 64px;
}

.aboutText h2, .frontiveText h2 {
    color: #417abe;
    padding-bottom: 16px;
}

@media (max-width:480px) {
    .pageTitleAb {
        padding-left: 5%;
        font-size: 32px;
    }
}

/* about */

/* OUR TEAM */

.ourTeamText {
    font-size: 1.8vw;
    padding-bottom: 64px;
    color: #727171;
}

.memberList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #417abe;
    padding: 24px 0;
    align-items: center;
}

.memberListTitel {
    font-size: 20px;
    font-weight: 900;
    color: #417abe;
}

.ourTeamAffInner {
    padding: 0 25%;
}

.affiliateList {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.affiliate {
    text-align: center;
}

.affiliate p {
    text-align: right;
    padding-right: 20%;
}

.affiliate img {
    width: 64%;
    background: yellow;
}

.pageTitle {
    font-weight: 900;
    padding-left: 7%;
    font-size: 48px;
    padding-bottom: 64px;
}

@media (max-width:480px) {

    .ourTeamText br {
        display: none;
    }

    .ourTeamText {
        font-size: 16px;
    }

    .detailsSecond {
        padding-top: 0;
    }

    .detailsSecond .pageTitle {
        font-size: 32px;
    }

    .memberList {
        display: block;
    }

    .member {
        padding: 16px 0;
    }

    .ourTeamAffInner {
        padding: 0 5%;
    }

    .ourAffTitle {
        padding-left: 5%;
        font-size: 32px;
        padding-bottom: 64px;
    }
}



/* OUR TEAM */

/* OUR GROUP */


.groupIntro {
    padding-bottom: 128px;
}

.groupIntro h1 {
    font-size: 48px;
    color: #417abe;
    padding-bottom: 16px;
}

.groupIntro p {
    font-size: 1.8vw;
}

.blue {
    color: #417abe;
}

.groupArea h3 {
    color: #417abe;
    font-size: 32px;
}

.directInvestments {
    padding-bottom: 48px;
}

.areaList {
    padding: 32px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.areaList img {
    width: 64%;
    margin: auto;
}

.areaList img.halfSize {
    width: 32%;
}

.areaText {
    padding: 32px 0 64px 5%;
    font-size: 22px;
}

.areaListBottomSpace {
    padding-bottom: 128px;
}

.japanBusiness {
    text-align: center;
}

@media (max-width:1080px) {
    .areaList {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:480px) {

    .groupIntro h1 {
        font-size: 32px;
    }

    .groupIntro p {
        font-size: 16px;
    }

    .areaList {
        padding: 32px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .ourGroup {
        padding: 0;
    }

}


/* OUR GROUP */

/* CONTACT */

.contactIntro {
    font-size: 1.8vw;
    color: #727171;
    font-weight: 100;
}

.contactList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 64px;
}

.contactListItem h2 {
    color: #417abe;
    padding-bottom: 16px;
}

.contactTitle {
    padding: 128px 0 0 7%;
    font-size: 48px;
}

/* CONTACT */

.groupMenu {
    position: relative;
}

.groupList {
    width: 200px;
    padding: 16px 0;
    visibility: hidden;
    position: absolute;
    background: #fff;
    cursor: pointer;
}

.show {
    visibility: visible;
}

@media (max-width:480px) {
    .groupList {
        position: relative;
        padding-bottom: 0;
        width: auto;
        visibility: unset;
    }

    .groupList li {
        font-size: 20px;
    }

    .groupList li:last-child {
        padding-bottom: 0;
    }
}